#logo{
  padding-left: 2%;
  background-color: #40b7b9;
}

h1, h2, h3, h4{
  font-weight: 300;
}


.addButton, .galleryControl{
  float: right;
}

.product-img{
    width: 90%;
}

.sr-only{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
